.minha-foto
{    
    height: 8em;
    padding: .15em;
    background: #EDEDED;
    box-sizing: border-box;
    border: .1em solid #A1A1A1; 
    position: relative;
    float: left;
    top: -2.5em;
    left: -2.5em;
}
.container
{    
    position: relative;
    max-width: 50em;
    box-shadow: 0 0 0 0,0 .4em .4em rgba(34, 34, 34, 0.5);
    -webkit-border-radius: .4em;
    border-radius: .4em;
}
.apresentacao
{    
    position: absolute;
    display: inline-block;
    width: 40%;
    max-width: 40%;
    height: 100%;
    vertical-align: top;

    margin-top: -5em;
    margin-bottom: -5em;
    box-sizing: border-box;
    overflow: hidden;
    color: #eaeced;
    background-color: #1d2e3d;
}
.apresentacao .item h2:after
{
    border-top: .1em solid #eaeced;    
}
.apresentacao h3
{
    text-align: center;
}
.curriculum
{    
    margin: 1em 0;
    margin-left: 40%;
    display: inline-block;
    width: 60%;
    max-width: 60%;
    height: 100%;
    vertical-align: top;
    
    margin-top: -5em;
    margin-bottom: -5em;    
    box-sizing: border-box;
    overflow: hidden;
    color: #1d2e3d;
    background-color: #eaeced;
}
.curriculum .item h2:after
{
    border-top: .1em solid #1d2e3d;    
}
.item
{   margin: 1em;
    padding: 1em;
}
.experiencia, 
.periodo, 
.titulo-experiencia, 
.descricao-experiencia 
{
    display: inline-block;    
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;    
}
.periodo, 
.titulo-experiencia, 
.descricao-experiencia
{    
    float: left;
}
.titulo-experiencia
{
    width: 25%;
}
.descricao-experiencia
{
    width: 75%;
    min-height: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.empresa, 
.cargo, 
.nome-instituicao, 
.formacao
{    
    font-size: 2ch;
    font-weight: bold;
}
.periodo 
{
    font-size: 1.5ch;
}
.icones-sociais a, icones-sociais p
{
    width: 2em;
    height: 2em;
    display: inline-block;
    text-indent: 3em;
}
 .fa-li
 {
    font-size: 28px;
 }