body
{ 
    font-size: 2ch;
    line-height: 1em;
    font-family: "Crimson Text", serif;
    position: relative;
    background: #2D4B81;
    background: -moz-linear-gradient(60deg, #2D4B81 0%, #5489BB 100%);
    background: -webkit-linear-gradient(60deg, #2D4B81 0%, #5489BB 100%);
    background: linear-gradient(60deg, #2D4B81 0%, #5489BB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #2D4B81, endColorstr=#5489BB);
}
div
{
    position: relative;
    display: block;
}
h2
{
    margin: .1em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: .1em;
    overflow: hidden;
    font-size: 3ch;
    font-family: "Open Sans Condensed", sans-serif;
}
h2:after
{
    content: "";
    display: inline-block;
    height: 0.23em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 1ch;
}
h3
{
    font-size: 2ch;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    padding-right: 1em;
}
h1, 
h2, 
h4
{
    font-family: "Open Sans Condensed", sans-serif;
}
main
{
    font-family: "Crimson Text", serif;
    padding-top: 5em;
    padding-bottom: 5em;
    max-width: 50em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
main h1
{
    font-size: 4ch;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: .8em;    
}
main p
{
    text-indent: 2ch;
    text-align: justify;
    line-height: 1.3em;
    margin: .3em 0;
}
nav a
{
    color: inherit;
}
li {
    list-style-type: none;
    margin: .5em;
    box-sizing: border-box;
    margin-left: -1em;
}
span {
    margin-left: -1em;
    margin-top: -.2em;
}