body
{ 
    font-size: 2ch;
    line-height: 1em;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background: #2D4B81;
    background: -moz-linear-gradient(60deg, #2D4B81 0%, #5489BB 100%);
    background: -webkit-linear-gradient(60deg, #2D4B81 0%, #5489BB 100%);
    background: linear-gradient(60deg, #2D4B81 0%, #5489BB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #2D4B81, endColorstr=#5489BB);
}
div
{
    position: relative;
    display: block;
}
h2
{
    margin: .1em;
    margin-bottom: 1em;
    margin-left: 0;
    padding: .1em;
    overflow: hidden;
    font-size: 2ch;
}
h3
{
    font-size: 1.5ch;
    font-weight: bold;
    padding-right: 1em;
}
main
{
    padding-top: 5em;
    padding-bottom: 5em;
    max-width: 50em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
main h1
{
    font-size: 3ch;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.8em;
}
main p
{
    text-align: justify;
    line-height: 1.3em;
    margin: .3em 0;
    font-size: 1.7ch;
}
nav a
{
    color: inherit;
}
li {
    list-style-type: none;
    margin: .5em;
    box-sizing: border-box;
    margin-left: -.5em;
    text-align: justify;
}
span
{
    margin-left: -.5em;
    margin-top: -.2em;
}
img 
{
    height: 10em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}